<p id="notice"><%= notice %></p>

<p>
  <strong>Serialnumber:</strong>
  <%= @asset.serialnumber %>
</p>

<p>
  <strong>Creationdate:</strong>
  <%= @asset.creationdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @asset.enddate %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @asset.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
